@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  scroll-behavior: smooth;
}

.loginBG {
  height: 100vh;
  background: url("./assets/images/bg/Bacground.png");
  background-size: cover;
}

.heroBG {
  height: 100vh;
  background: url("./assets/images/bg/Hero.png");
  background-size: cover;
}

.dokterBG {
  height: 100vh;
  background: url("./assets/images/bg/CariDokter.png");
  background-size: cover;
}